body {
  font-family: Verdana, sans-serif;
  margin: 20px;
}

h1 {
  color: navy;
  text-align: center;
}

#judul {
  color: green;
  text-align: center;
}

.bio {
  color: #444;
  font-style: italic;
}
