body {
  font-family: Verdana, sans-serif;
  margin: 20px;
}

h1 {
  color: navy;
  text-align: center;
}

#judul {
  color: green;
  text-align: center;
}

p.bio {
  color: #444;
  font-style: italic;
}

.example-container {
  margin: 8px;
  border: 8px solid red;
  padding: 8px;
  width: 100px;
  height: 100px;
}
